.profile-card {
    display: flex;
    flex-direction: row;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: black;
    width: 50%;
    margin: 5% auto;
    
  }
  .profile-card-right{
    background-color: rgb(169,163,249);
        display: flex;
    flex: 1.2;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding:2% 2.3%;
  }
  .profile-card-right-heading{
      font-weight: 500;
      font-size: 1rem;
  }
  .profile-card-left{
      display: flex;
      flex: 2.8;
      flex-direction: column;
      color: black;
      padding:2% 5%;
      
  }
  .profile-card-item{
    margin: 2%;
}
  
  .profile-heading{
    font-weight: 700;
    font-size: 3rem;
    /* background: -webkit-linear-gradient(rgb(158, 64, 212), rgb(147, 102, 157),rgb(56, 209, 191));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    align-self: center;
   color: rgb(169,163,249);
}

.profile-hr{
 width: 100%;
}
.profile-column{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.profile-column-left-like{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.profile-column-left{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-column-left div {
    text-align: center;
    margin: 3% 0;
}
.profile-column-left div p {
    font-weight: 500;
}

.profile-column-left div a {
    font-size: larger;
}
.profile-column-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.profile-button {
    padding: 8%;
    font-weight: 600;
    font-size: 1rem;
    background-color: rgb(169,163,249);
    /* background-image: linear-gradient(to bottom right, rgb(158, 64, 212), rgb(128, 194, 199),rgb(105, 198, 187)); */
    border: none;
    border-radius: 5px;
    align-self: flex-end;
    cursor: pointer;
}
.profile-button:hover {
    background-color: rgb(26, 31, 31);
    color: white;
}

.tag {
    font-size: 1rem;
    text-align: center;
    line-height: 1;
    color: black;
    animation: neon .08s ease-in-out infinite alternate;
}

/*-- Animation Keyframes --*/


@keyframes neon {
  from {
    text-shadow:
    0 0 6px rgba(202,228,225,0.92),
    0 0 30px rgba(202,228,225,0.34),
    0 0 12px rgba(30, 242, 118, 0.52),
    0 0 21px rgba(30, 242, 94, 0.92),
    0 0 34px rgba(55, 242, 30, 0.78),
    0 0 54px rgba(140, 242, 30, 0.92);
  }
  to {
    text-shadow:
    0 0 6px rgba(202,228,225,0.98),
    0 0 30px rgba(202,228,225,0.42),
    0 0 12px rgba(30, 242, 111, 0.52),
    0 0 22px rgba(30, 242, 94, 0.92),
    0 0 38px rgba(55, 242, 30, 0.78),
    0 0 60px rgba(140, 242, 30, 0.92);
  }
}


